<p id="notice"><%= notice %></p>
<%= render 'layouts/title', :title => "Dashboard" %>
<div class="col-md-8">
  <h1>Students</h1>

  <table>
    <thead>
      <tr>
        <div>Signed in as... <%= current_teacher.email %> and id = <%= current_teacher.id %></div>
        <th>Name</th>
        <th>Address</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <% if student.requested? %>
          <tr>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.state %></td>
            <% student.students_posts.each do |studentPost| %>
              <td><%= studentPost.post.title %></td>
            <% end %>
            <td><%= link_to 'Show', student_student_path(id: student.id) %></td>
            <td><%= link_to 'Edit', edit_student_student_path(id: student.id) %></td>
            <td><%= link_to 'add recommendation', new_teacher_recommendation_path(:view_student => student, :current_user => current_teacher), class: "btn btn-sm btn-primary" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<div>
