<p id="notice"><%= notice %></p>

<%= render 'layouts/title', :title => "Completed Post" %>
<div class="col-md-8" style="padding-top:20px">
  <tbody>
    <% if @completed.empty? %>
      <p> You have not complete any post ! Go make one now ! </p>
    <% else %>
      <% @completed.each do |post| %>
        <%= render 'statusRow', {:post => post, :status => "Completed"} %>
      <% end %>
    <% end %>
    <%= will_paginate @completed, :class => "flickr_pagination" %>
</div>
