<p id="notice"><%= notice %></p>

<%= render 'layouts/title', :title => "Company Dashboard" %>
<div class="col-md-8" style="padding-top:20px">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>Address</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.id %></td>
            <td><%= company.email %></td>
            <td><%= company.name %></td>
            <td><%= company.address %></td>
            <td><%= link_to 'Show', company_company_path(id: company.id) %></td>
            <td><%= link_to 'Edit', edit_company_company_path(id: company.id) %></td>
            <td><%= link_to 'Destroy', [:company ,company], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Company', new_company_company_path %>

  </div>
</div>
