<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :comment_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :comment_body %>
  </div>

  <!-- <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :comment_student_id %>
  </div> -->
   <%= rating_for_user @student, current_user, 'score', disable_after_rate: false, cancel: true %>
  <%= link_to @student %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
