<p id="notice"><%= notice %></p>

<!-- Search Bar -->
  <%= render 'layouts/title', :title => "Job Posts" %>
  <div class="col-md-12" style="padding-top: 10px">
    <form action="<%= student_posts_path %>" method="get">
      <%= text_field_tag :starts_with, params[:starts_with] %>
      <%= submit_tag "search", :name => nil %>
    </form>
  </div>
<!--  -->

<!--Post List  -->
  <div class="col-md-8" style="padding-top: 20px">
    <tbody >
      <% if @posts.empty? %>
          <p> Not Found </p>
      <% else %>
        <% @posts.each do |post| %>
          <%= render 'row', {:post => post} %>
        <% end %>
      <% end %>
    </tbody>
  <div>
<!--  -->
    <%= will_paginate @posts, :class => "flickr_pagination" %>
