<p id="notice"><%= notice %></p>


<p>
  <strong>State:</strong>
  <%= @post.state %>
</p>

<p>
  <strong>Jobdescription:</strong>
  <%= @post.jobDescription %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @post.salary %>
</p>

<p>
  <strong>Skillrequirement:</strong>
  <%= @post.skillRequirement %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Company:</strong>
  <%= @post.company %>
</p>

<div>
  <% @post.tags.each do |tag| %>
    <span class="label label-primary"><%= tag %></span>
  <% end %>
</div>

<div class="btn-group" role="group" aria-label="..." style="margin-top: 10px; margin-bottom: 10px">
    <%= link_to 'Back', :back , :class => "btn btn-primary"%>
</div>
<% if @post.opened? %>
  <%= link_to 'Take', students_posts_path(students_post: {student_id: current_student.id,
     post_id: @post.id}),:class => "btn btn-primary ", method: :post %>
<% end %>
