<%= form_with(model: students_post, local: true) do |form| %>
  <% if students_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(students_post.errors.count, "error") %> prohibited this students_post from being saved:</h2>

      <ul>
      <% students_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :students_post_student_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id, id: :students_post_post_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :students_post_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
