<p id="notice"><%= notice %></p>

<h1>Students Posts</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students_posts.each do |students_post| %>
      <tr>
        <td><%= students_post.student.name %></td>
        <td><%= students_post.post.title %></td>
        <td><%= link_to 'Show', students_post %></td>
        <td><%= link_to 'Edit', edit_students_post_path(students_post) %></td>
        <td><%= link_to 'Destroy', students_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Students Post', new_students_post_path %>
