<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @students_post.student %>
</p>

<p>
  <strong>Post:</strong>
  <%= @students_post.post %>
</p>

<p>
  <strong>Status:</strong>
  <%= @students_post.status %>
</p>

<%= link_to 'Edit', edit_students_post_path(@students_post) %> |
<%= link_to 'Back', students_posts_path %> |
