<h1>New Recommendation</h1>

<%= render 'form', recommendation: [:recommendation, @recommendation],
:locals => {:controller => 'recommendations', :action => 'create'} %>

<%= link_to 'Back', admin_recommendations_path %>
