<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recommendation.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recommendation.body %>
</p>

<p>
  <strong>Student:</strong>
  <%= @recommendation.student %>
</p>

<p>
  <strong>Company:</strong>
  <%= @recommendation.company %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
