<div class="well">
  <h2><%= comment.name %></h2>
  <p class="text-muted">Added by <strong><%= comment.company.name %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
    <%= rating_for_user @student, comment.company, "score", readonly: true %>
  <blockquote>
    <p><%= comment.body %></p>
  </blockquote>
</div>
