<%= form_for(student , :url => url_for(:controller => locals[:controller], :action => locals[:action])) do |form| %>

<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

    <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :student_age %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.text_field :occupation, id: :student_occupation %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :student_email %>
  </div>

  <div class="field">
    <%= form.label :skill_list %>
    <%= form.text_field :skill_list, id: :student_skill_list %>
  </div>

  <!-- <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :student_password %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
