<h1>Editing Student</h1>

<%= render 'form', student: [:student, @student], :locals => {:controller => 'students', :action => 'update'} %>
<%= link_to 'Show', admin_student_path(id: @student.id) %> |
<%= link_to 'Back', admin_students_path %>
