<p id="notice"><%= notice %></p>

<%= render 'layouts/title', :title => "Post Status" %>
<div class="col-md-8" style="padding-top:20px">
  <tbody>
    <% if @student.students_posts.empty? %>
      <p> You have not create any post. Click the button to create one ! </p>
    <% else %>
      <% @student.students_posts.each do |students_post| %>
        <%= render 'statusRow', {:post => students_post.post} %>
      <% end %>
    <% end %>
</div>
