<%= form_for(recommendation , :url => url_for(:controller => locals[:controller], :action => locals[:action])) do |form| %>

  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :recommendation_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :recommendation_body %>
  </div>

  <!-- <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :recommendation_student_id %>
  </div>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.text_field :admin_id, id: :recommendation_admin_id %>
  </div> -->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
