/* line 29, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/homes.scss */
body {
  background: #222 url("https://25.media.tumblr.com/a408ad9af259cf827ed4599d60bcb0a9/tumblr_myebwtELvb1st5lhmo1_1280.jpg") no-repeat fixed center;
  background-size: cover;
  overflow: hidden;
}

/* line 35, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/homes.scss */
.social {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

/* line 43, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/homes.scss */
.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 70px;
}

/* line 60, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/homes.scss */
.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 69, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/homes.scss */
.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

/* line 76, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/homes.scss */
.social .link.google-plus {
  background-color: tomato;
  color: white;
}

/* line 81, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/homes.scss */
.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

/* line 86, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/homes.scss */
.social .link.facebook {
  background-color: #3B5998;
  color: white;
}
