/* line 1, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/profile.scss */
.user-row {
  margin-bottom: 14px;
}

/* line 5, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/profile.scss */
.user-row:last-child {
  margin-bottom: 0;
}

/* line 9, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/profile.scss */
.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

/* line 15, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/profile.scss */
.dropdown-user:hover {
  cursor: pointer;
}

/* line 19, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/profile.scss */
.table-user-information > tbody > tr {
  border-top: 1px solid #dddddd;
}

/* line 23, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/profile.scss */
.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

/* line 28, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/profile.scss */
.table-user-information > tbody > tr > td {
  border-top: 0;
}

/* line 31, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/profile.scss */
.toppad {
  margin-top: 20px;
}
