/* line 1, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
body {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

/* line 7, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.lib-panel {
  margin-bottom: 20Px;
}

/* line 10, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.lib-panel img {
  padding-top: 15px;
  width: 100%;
  background-color: transparent;
}

/* line 16, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 0;
  background-color: #FFFFFF;
}

/* line 23, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

/* line 27, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.lib-panel .lib-row.lib-header {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 0px 20px 0 20px;
}

/* line 33, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}

/* line 40, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.lib-panel .lib-row.lib-desc {
  position: relative;
  height: 100px;
  display: block;
  font-size: 13px;
}

/* line 46, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.lib-panel .lib-row.lib-desc a {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px;
}

/* line 53, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.row-margin-bottom {
  margin-bottom: 20px;
}

/* line 57, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* line 62, /Users/NaNi/Desktop/seniorproject/BossyProject/app/assets/stylesheets/row_stylesheets.scss */
.no-padding {
  padding: 0;
}
