<h1>Editing Company</h1>

<%= render 'form', company: [:company, @company], :locals => {:controller => 'companies', :action => 'update'} %>
<%= link_to 'Show', admin_company_path(id: @company.id) %> |
<%= link_to 'Back', admin_companies_path %>
