<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :teacher_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :teacher_age %>
  </div>

  <div class="field">
    <%= form.label :interest %>
    <%= form.text_field :interest, id: :teacher_interest %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major, id: :teacher_major %>
  </div>

  <div class="field">
    <%= form.label :minor %>
    <%= form.text_field :minor, id: :teacher_minor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
