<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Interest</th>
      <th>Major</th>
      <th>Minor</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.age %></td>
        <td><%= teacher.interest %></td>
        <td><%= teacher.major %></td>
        <td><%= teacher.minor %></td>
        <td><%= link_to 'Show', teacher_teachers_path(id: teacher.id) %></td>
        <td><%= link_to 'Edit', edit_teacher_teacher_path(id: teacher.id) %></td>
        <td><%= link_to 'Destroy', teacher_teachers_path(id: teacher.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- <td><%= link_to 'add recommendation', new_admin_recommendation_path(:view_student => @student, :current_user => current_user), class: "btn btn-sm btn-primary" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_teacher_path %>
