<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @teacher.age %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @teacher.interest %>
</p>

<p>
  <strong>Major:</strong>
  <%= @teacher.major %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @teacher.minor %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
