<div class="well">
  <h2><%= recommendation.title %></h2>
  <p class="text-muted">Added by <strong><%= recommendation.admin.email %></strong> on
    <%= l(recommendation.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
  <blockquote>
    <p><%= recommendation.body %></p>
  </blockquote>
</div>
