<%= stylesheet_link_tag 'row_stylesheets' %>
<div class="row row-margin-bottom">
  <div class="col-md-12 no-padding lib-item" data-category="view">
     <div class="lib-panel">
         <div class="row box-shadow">
             <div class="col-md-3">
                 <img class="lib-img-show" src="http://placehold.it/100x100">
             </div>
             <div class="col-md-9">
                 <div class="lib-row lib-header">
                     <h3><%= link_to post.title, student_post_path(:id => post.id) %></h3>
                     <div class="lib-header-seperator"></div>
                     Status: <%= status %>
                 </div>
                 <div class="lib-row lib-desc">
                    <p>
                    <%= truncate("(More than 300 will be truncate)", length:300) %>
                    </p>
                 </div>
             </div>
         </div>
     </div>
  </div>
</div>
