<p id="notice"><%= notice %></p>
<%= render 'layouts/title', :title => "Dashboard" %>
<div class="col-md-8">
  <h1>Students</h1>

  <table>
    <thead>
      <tr>
        <div>Signed in as... <%= current_student.email %> and id = <%= current_student.id %></div>
        <th>Name</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.email %></td>
          <% student.students_posts.each do |studentPost| %>
            <td><%= studentPost.post.title %></td>
          <% end %>
          <td><%= link_to 'Show', student_student_path(id: student.id) %></td>
          <td><%= link_to 'Edit', edit_student_student_path(id: student.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
