<p id="notice"><%= notice %></p>



<%= render 'layouts/title', :title => "Profile" %>
<%= stylesheet_link_tag 'profile' %>
<!-- <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> Profile </h3>
  </div> -->
  <!-- <div class="panel-body"> -->
<div class="col-md-8" style="padding-top:20px">
  <div class="toppad" >


            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><%= @student.name %></h3>
              </div>
              <div class="panel-body">
                <div class="row">

                  <div class="col-md-3 col-lg-3 " align="center">
                     <img alt="User Pic" src="<%= @student.avatar.url %>" class="img-circle img-responsive">
                     <%= rating_for @student, "score", imdb_avg: true, readonly: true %>
                     <%= rating_for @student, "score", readonly: true %>

                   </div>
                  <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Age:</td>
                          <td><%= @student.age %></td>
                        </tr>
                        <tr>
                          <td>Occupation:</td>
                          <td><%= @student.occupation %></td>
                        </tr>
                        <tr>
                          <td>Department:</td>
                          <td>Programming</td>
                        </tr>
                        <tr>
                          <td>Hire date:</td>
                          <td>06/23/2013</td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>01/24/1988</td>
                        </tr>

                           <tr>
                               <tr>
                          <td>Gender</td>
                          <td>Female</td>
                        </tr>
                          <tr>
                          <td>Home Address</td>
                          <td>Kathmandu,Nepal</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td><a href="mailto:info@support.com">info@support.com</a></td>
                        </tr>
                          <td>Phone Number</td>
                          <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                          </td>

                        </tr>

                      </tbody>
                    </table>
                      <% @student.skills.each do |skill| %>
                        <a href="#" class="btn btn-primary"><%= skill %></a>
                      <% end %>
                  </div>
                </div>
              </div>
                   <div class="panel-footer">
                          <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                          <% if student_signed_in? %>

                            <%= link_to 'Edit', edit_student_student_path(@student), class: "btn btn-sm btn-primary" %>
                            <%= link_to 'Back', student_students_path, class: "btn btn-sm btn-primary" %>
                            <!-- <%= link_to 'all link', students_posts_path %> | -->
                          <% end %>
                          <% if !student_signed_in? %>
                            <%= link_to 'Back', :back, class: "btn btn-sm btn-primary"%>
                            <%= link_to 'add comment', new_comment_path(:view_student => @student, :current_user => current_user), class: "btn btn-sm btn-primary" %>
                            <!-- </div> -->

                            <% end %>
                          <span class="pull-right">
                              <a href="<% edit_student_student_path(@student) %>" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                              <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                          </span>
                      </div>

            </div>
          </div>
        </div>

      </div>

  </div>
