<p id="notice"><%= notice %></p>

<%= render 'layouts/title', :title => "Post Status" %>
<div class="col-md-12" style="padding-top:20px">
  <tbody>
    <% if @student.students_posts.empty? %>
      <p> You have not create any post. Click the button to create one ! </p>
    <% else %>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th> ID </th>
            <th>Title</th>
            <th>Email</th>
            <th>Post Status</th>
            <th>Status</th>
            <!-- <th>Company Profile</th> -->
            <th>button</th>
            <th>select</th>
            <th colspan="3"></th>
          </tr>
        </thead>
          <tbody>
              <% @student.students_posts.each do |students_post| %>
                <tr>
                  <td><%= students_post.id %></td>
                  <td><%= students_post.post.title %></td>
                  <td><%= link_to students_post.post.company.email, student_path(:id => students_post.post.company.id) %></td>
                  <!-- <td><%= students_post.post.company.email %></td> -->
                  <td><%= students_post.post.state %></td>
                  <td><%= students_post.status %></td>
                  <!-- <td><%= link_to 'Profile', student_path(students_post.post.company.id),  :class => "btn btn-warning "%> </td> -->
                  <% if students_post.offered_internship? %>
                      <!-- <td><%= link_to 'offer job',:class => "btn btn-primary" %>  </td>

                      <%= form_tag(choose_path(:id => students_post.id),{:action => 'choose', method: 'put'} ) do %>

                      <td><%= select_tag "whatever" ,options_for_select([ "Please Select","Accept", "Reject" ], "Please Select"),:onchange => "this.form.submit();"%></td>
                      <% end %> -->
                      <td>
                        <%= link_to choose_path(:id => students_post.id, :whatever => "Accept"), :method => :put, :class => "btn btn-default" do %>
                          <i class="fa fa-check fa-lg" style="color:green"></i>
                        <% end %>
                        <%= link_to choose_path(:id => students_post.id, :whatever => "Reject"), :method => :put, :class => "btn btn-default" do %>
                          <i class="fa fa-times fa-lg" style="color:red"></i>
                        <% end %>
                      </td>
                  <% else %>
                    <td>
                      <%=link_to students_post_path(students_post.id), :method => :delete, :class => "btn btn-default", data: {confirm: "Are you sure?"} do %>
                        <i class="fa fa-trash fa-lg" ></i>
                      <% end %>
                    </td>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
      </dev>
      <!-- <% @student.students_posts.each do |students_post| %>
        <%= render 'statusRow', {:post => students_post.post, :status => students_post.status} %>
      <% end %> -->






      <div class="small-6 columns">
        <%= submit_tag "Confirm", :type => 'submit', :class => 'btn btn-primary', :form => 'internship_select', :value => 'Confirm', method: 'put' %>
      </div>





    <% end %>
</div>
