<p id="notice"><%= notice %></p>



<%= render 'layouts/title', :title => "Profile" %>
<%= stylesheet_link_tag 'profile' %>
<!-- <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> Profile </h3>
  </div> -->
  <!-- <div class="panel-body"> -->
<div class="col-md-8" style="padding-top:20px">
  <div class="toppad" >


            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><%= @student.name %></h3>
              </div>
              <div class="panel-body">
                <div class="row">

                  <div class="col-md-3 col-lg-3 " align="center">
                     <img alt="User Pic" src="http://via.placeholder.com/150x150" class="img-circle img-responsive">
                     <%= rating_for @student, "score", imdb_avg: true, readonly: true %>
                     <%= rating_for @student, "score", readonly: true %>

                   </div>
                  <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Age:</td>
                          <td><%= @student.age %></td>
                        </tr>
                        <tr>
                          <td>Occupation:</td>
                          <td><%= @student.occupation %></td>
                        </tr>
                        <tr>
                          <td>Department:</td>
                          <td>Programming</td>
                        </tr>
                        <tr>
                          <td>Hire date:</td>
                          <td>06/23/2013</td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>01/24/1988</td>
                        </tr>

                           <tr>
                               <tr>
                          <td>Gender</td>
                          <td>Female</td>
                        </tr>
                          <tr>
                          <td>Home Address</td>
                          <td>Kathmandu,Nepal</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td><a href="mailto:info@support.com">info@support.com</a></td>
                        </tr>
                          <td>Phone Number</td>
                          <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                          </td>
                        </tr>

                      </tbody>
                    </table>
                      <% @student.skills.each do |skill| %>
                        <a href="#" class="btn btn-primary"><%= skill %></a>
                      <% end %>
                  </div>
                </div>
              </div>
                   <div class="panel-footer">
                            <%= link_to 'Back', :back, class: "btn btn-sm btn-primary"%>
                            <%= link_to 'add comment', new_comment_path(:view_student => @student, :current_user => current_user), class: "btn btn-sm btn-primary" %>
                            <%= link_to 'request recommendation', company_student_requesting_path(@student.id), class: "btn btn-sm btn-primary", method: :put%>
                      </div>

            </div>
          </div>
            <div class="panel-group" style="padding-top: 10px;">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" style="margin-top: -10px;">
                    <a data-toggle="collapse" href="#collapse1"><h1> Comment <%= @student.comments.count if @student.comments.count > 0%> </h1></a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <% @student.comments.each do |comment| %>
                      <%= render 'comment', {:comment => comment} %>
                    <% end %>
                  </div>
                  <div class="panel-footer">Panel Footer</div>
                </div>
              </div>
            </div>

              <div class="panel-group" style="padding-top: 10px;">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title" style="margin-top: -10px;">
                      <a data-toggle="collapse" href="#collapse2"><h1> Recommendation <%= @student.recommendations.count if @student.recommendations.count > 0%> </h1></a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <% @student.recommendations.each do |recommendation| %>
                        <%= render 'recommendation', {:recommendation => recommendation} %>
                      <% end %>
                    </div>
                    <div class="panel-footer">Panel Footer</div>
                  </div>
                </div>
              </div>
        </div>

      </div>

  </div>
