<%= form_for(post , :url => url_for(:controller => locals[:controller], :action => locals[:action])) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :jobDescription %>
    <%= form.text_field :jobDescription, id: :post_jobDescription %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary, id: :post_salary %>
  </div>

  <div class="field">
    <%= form.label :skillRequirement %>
    <%= form.text_field :skillRequirement, id: :post_skillRequirement %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :post_location %>
  </div>

  <div class="field">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, 'data-role'=>'tagsinput' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
