<p id="notice"><%= notice %></p>

<% if student_signed_in? %>
  <%= render 'layouts/title', :title => "Job Posts" %>
  <div class="col-md-12" style="padding-top: 10px">
    <form action="<%= posts_path %>" method="get">
      <%= text_field_tag :starts_with, params[:starts_with] %>
      <%= submit_tag "search", :name => nil %>
    </form>
  </div>
<% else %>
  <%= render 'layouts/title', :title => "My Posts" %>
<% end %>
  <div class="col-md-8" style="padding-top: 20px">
    <tbody >
      <% if @posts.empty? %>
        <% if student_signed_in? %>
          <p> Not Found </p>
        <% else %>
          <p> You have not create any post. Click the button to create one ! </p>
        <% end %>
      <% else %>
        <% @posts.each do |post| %>
          <%= render 'row', {:post => post} %>

        <% end %>
      <% end %>

    </tbody>
  <div>
    <%= will_paginate @posts, :class => "flickr_pagination" %>
<!-- </table> -->


<%= link_to 'New Post', new_admin_post_path %>
