<p id="notice"><%= notice %></p>


<p>
  <strong>State:</strong>
  <%= @post.state %>
</p>

<p>
  <strong>Jobdescription:</strong>
  <%= @post.jobDescription %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @post.salary %>
</p>

<p>
  <strong>Skillrequirement:</strong>
  <%= @post.skillRequirement %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Company:</strong>
  <%= @post.company %>
</p>

<div>
  <% @post.tags.each do |tag| %>
    <span class="label label-primary"><%= tag %></span>
  <% end %>
</div>

<div class="btn-group" role="group" aria-label="..." style="margin-top: 10px; margin-bottom: 10px">
    <%= link_to 'Back', admin_posts_path, :class => "btn btn-primary"%>
    <%= link_to 'Edit', edit_admin_post_path(@post.id) ,:class => "btn btn-primary "%>
</div>

<div class="table-responsive">
  <strong>Student List</strong>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @post.students_posts.each do |student| %>
        <tr>
          <td><%= student.student.id %></td>
          <td><%= student.student.name %></td>
          <td><%= student.student.email %></td>
          <td><%= link_to 'Profile', admin_student_path(student.student.id),  :class => "btn btn-warning "%> </td>
          <% if student.waiting? %>
            <td><%= link_to 'Interview',students_post_path(student.student.id,
             students_post: { status: 'Accept for Interview' }), method: :put,
             :class => "btn btn-primary "  %>  </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
