<!-- <%= stylesheet_link_tag "homes" %>
<body style="background-color: black ">
  <div class="col-md-6 col-md-offset-3" style="background: white;" align="center">

      <div class="col-md-6" style="background: blue;">
        <%= button_to 'Student', student_students_url, method: :get %>

      </div>
      <div class="col-md-6" style="background: red;">
        <%= button_to 'Company', company_companies_url, method: :get %>
      </div>

  </div>
</body> -->
<%= stylesheet_link_tag 'homes' %>
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<div class="social">
  <h1 style="word-spacing: 30px;">
    Student Company Teacher
  </h1>
  <div class="col-12">
    <a href="<%= student_students_url(subdomain: "student") %>" class="link facebook" target="_parent">
      <span class="fa fa-graduation-cap"></span>
    </a>
    <a href="<%= company_companies_url(subdomain: "company") %>" class="link twitter" target="_parent">
      <span class="fa fa-building"></span>
    </a>
    <a href="<%= teacher_teachers_url(subdomain: "teacher") %>" class="link google-plus" target="_parent">
      <span class="fa fa-book"></span>
    </a>
  </div>
</div>
