<tbody>
  <%= form_tag(company_students_posts_internship_select_path, method: 'put', :id => 'internship_select') do %>
    <% post.students_posts.each do |student| %>
      <% if student.rejected? %>
      <tr class="rejected">
      <% else %>
      <tr>
      <% end %>
      <td></td>
        <!-- <td><%= student.id %></td> -->
        <td><%= link_to student.student.name, company_path(:id => student.id) %></td>
        <td><%= student.student.email %></td>
        <td><%= student.status %></td>
        <!-- <td><%= link_to 'Profile', company_path(student.student.id),  :class => "btn btn-warning "%> </td> -->
        <% if student.accepted_interview? %>
            <td><%= link_to 'offer job',{:controller => "students_posts", :action => "internship", :id => student.id},:class => "btn btn-primary",:method => :put  %>  </td>
            <td> <%= check_box_tag "internshipers[]", student.id  -%> </td>
            <td></td>
        <% elsif student.accepted? %>
          <td></td>
          <td><%= link_to 'add comment', new_comment_path(:view_student => student.student.id, :current_user => current_user), class: "btn btn-sm btn-primary" %></td>
          <td></td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
</div>
</div>
