<%= form_for(post , :url => url_for(:controller => locals[:controller], :action => locals[:action])) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :jobDescription %>
    <%= form.text_field :jobDescription, id: :post_jobDescription %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary, id: :post_salary %>
  </div>

  <div class="field">
    <%= form.label :skillRequirement %>
    <%= form.text_field :skillRequirement, id: :post_skillRequirement %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :post_location %>
  </div>

  <div class="field">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, 'data-role'=>'tagsinput' %>
  </div>

  <div class="field">
    <%= form.label :finished_at, "Valid until" %>
    <%= form.text_field :finished_at, class: "datepicker" %>
  </div>
  <!-- <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :post_company_id %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<% content_for :javascript_includes do %>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      todayHighlight: true,
      format: "dd/mm/yyyy",
    });
  });
</script>
<% end %>
