<h1>Editing Post</h1>

<%= render 'form', post: [:post, @post], :locals => {:controller => 'posts', :action => 'update'} %>

<%= link_to 'Show', company_post_path(@post.id) %> |
<%= link_to 'Back', :back %>
