<p id="notice"><%= notice %></p>

  <%= render 'layouts/title', :title => "My Posts" %>
  <div class="col-md-8" style="padding-top: 20px">
    <tbody >
      <% if @posts.empty? %>
        <% if student_signed_in? %>
          <p> Not Found </p>
        <% else %>
          <p> You have not create any post. Click the button to create one ! </p>
        <% end %>
      <% else %>
        <% @posts.each do |post| %>
          <%= render 'row', {:post => post} %>
        <% end %>
      <% end %>

    </tbody>
  <div>
    <%= will_paginate @posts, :class => "flickr_pagination" %>



<%= link_to 'New Post', new_company_post_path %>
