<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4 col-md-offset-10">
    <% if @post.opened? %>
      Publish: <%= check_box_tag 'tos', 'yes',  @post.publish , class: 'js-switch js-check-change'%>
    <% else %>
      Publish: <%= check_box_tag 'tos', 'yes', false ,disabled: true, class: 'js-switch js-check-change'%>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>State:</strong>
      <%= @post.state %>
    </p>

    <p>
      <strong>Jobdescription:</strong>
      <%= @post.jobDescription %>
    </p>

    <p>
      <strong>Salary:</strong>
      <%= @post.salary %>
    </p>

    <p>
      <strong>Skillrequirement:</strong>
      <%= @post.skillRequirement %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @post.location %>
    </p>

    <p>
      <strong>Company:</strong>
      <%= @post.company %>
    </p>

    <p>
      <strong>Valid until:</strong>
      <%= @post.finished_at.strftime("%d/%m/%Y") %>
    </p>
  </div>
</div>

<div>
  <% @post.tags.each do |tag| %>
    <span class="label label-primary"><%= tag %></span>
  <% end %>
</div>

<div role="group" aria-label="..." style="margin-top: 10px; margin-bottom: 10px">
    <%= link_to 'Back', company_posts_path, :class => "btn btn-primary"%>
    <%= link_to 'Edit', edit_company_post_path(@post.id) ,:class => "btn btn-primary "%>
    <div class="btn-group btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" value="false" checked="checked" name="filterReject"/> Show All
        </label>
        <label class="btn btn-primary">
            <input type="radio" value="true" name="filterReject"/> Hide Reject
        </label>
    </div>
    <% if @post.closed? %>
      <%= link_to 'Complete Post', company_post_complete_path(@post.id) ,:class => "btn btn-primary ",
      :data => {:confirm => 'Are you sure?'}, method: :put%>
    <% elsif @post.opened? %>
      <%= link_to 'Close Post', company_post_close_path(@post.id) ,:class => "btn btn-primary ",
      :data => {:confirm => 'Are you sure?'}, method: :put%>
    <% end %>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Student List</div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <!-- <th>Address</th> -->
            <th>button</th>
            <th>checkbox</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <!-- If complete do this -->
        <% if @post.completed? %>
          <%= render 'complete', {:post => @post} %>

      <% else %>

        <tbody>
          <%= form_tag(bossy_interview_select_path, method: 'put', :id => 'interview_select') do %>
            <% @post.students_posts.each do |student| %>
              <tr>
                <% if student.waiting? %>
                <td></td>
                  <!-- <td><%= student.id %></td> -->
                  <td> <%= check_box_tag "interviewers[]", student.id, nil, :id => student.id, class: 'hidden' %> <label class="star" for=<%= student.id %>></label></td>
                  <td><%= link_to student.student.name, company_path(:id => student.id) %></td>
                  <td><%= student.student.email %></td>
                <!-- <td><%= link_to 'Profile', company_path(student.student.id),  :class => "btn btn-warning "%> </td> -->
                  <td><%= link_to 'Interview',{:controller => "students_posts", :action => "interview", :id => student.id},:class => "btn btn-primary",:method => :put  %>  </td>
                  <td><i class="fa fa-star-o"></i></td>
                    <td></td>
                      <td></td>
                <% else %>
                  <!-- <td><%= student.id %></td> -->
                  <td></td>
                  <td></td>
                  <td><%= link_to student.student.name, company_path(:id => student.id) %></td>
                  <td><%= student.student.email %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="small-6 columns">
    <%= submit_tag "Interview", :type => 'submit', :class => 'btn btn-primary', :form => 'interview_select', :value => 'Interview', method: 'put' %>
  </div>
  <% end %>
  <% if @post.completed? %>
    <div class="small-6 columns">
      <%= submit_tag "Offer Job", :type => 'submit', :class => 'btn btn-primary', :form => 'internship_select', :value => 'Offer Job', method: 'put' %>
    </div>
  <% end %>
</div>



<% content_for :javascript_includes do %>
  <script>
  $('document').ready(function() {
    var reject = Array.prototype.slice.call(document.querySelectorAll('.rejected'));

    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, { size: 'large' });

    var changeCheckbox = document.querySelector('.js-check-change');
    changeCheckbox.onchange = function() {
      reject.forEach(function(html) {
        $(html).addClass('hide');
      });
      var check = changeCheckbox.checked
      data_send = { post: { publish: check } }
      $.ajax({
       method: 'put',
       url: '/company/posts/<%= escape_javascript @post.id.to_s %>',
        data: data_send,
      });
    };

    $('input[type="radio"]').change(function() {
      if($(this).val()=="true"){
        reject.forEach(function(html) {
        $(html).addClass('hide');
        });
      }else{
        reject.forEach(function(html) {
          $(html).fadeIn('slow').removeClass('hide');
        });
      }
    });
  });

  </script>
<% end %>
