<body background="http://d3gst952d6mu1j.cloudfront.net/Community/Blog%20photos/student%20career%20blog.jpg" style="padding:300px;
background-size: cover; background-position: top center; background-repeat: no-repeat">
<div style="background-color: #e9ecef; border-radius: 25px; padding: 20px;">

<h2>Log in for Teacher</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <input type="email" id="teacher_email" class="form-control" placeholder="Email address" required="" autofocus="true" name="teacher[email]">
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <input type="password" id="teacher_password" name="teacher[password]" class="form-control" placeholder="Password" required="">
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="teacher[remember_me]" value="remember-me"> Remember me
      </label>
    </div>
  </div>
  <% end -%>

  <div class="actions">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="commit">Sign in</button>
  </div>
<% end %>

<%= render "teachers/shared/links" %>

</body>
