<p id="notice"><%= notice %></p>

<%= render 'layouts/title', :title => "Profile" %>
<div class="col-md-8" style="padding-top:20px">

  <p>
    <strong>Name:</strong>
    <%= @company.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @company.address %>
  </p>

  <% @company.post.each do |company| %>
    <p><%= company.jobDescription %></p>
  <% end %>

  <%= link_to 'Back', :back %>
</div>
