/*
 *= require font-awesome
 */

@import 'bootstrap';
@import "bootstrap-sprockets";
@import "bootstrap-datepicker";
@import 'bootstrap-tagsinput';
@import 'switchery';
@import "font-awesome";


 body {
  //  padding-top: 5rem;
 }
 .starter-template {
   padding: 3rem 1.5rem;
   text-align: center;
 }
 /*
  * Base structure
  */

 /* Move down content because we have a fixed navbar that is 50px tall */
 body {
   padding-top: 50px;
 }


 /*
  * Global add-ons
  */

 .sub-header {
   padding-bottom: 10px;
   border-bottom: 1px solid #eee;
 }

 /*
  * Top navigation
  * Hide default border to remove 1px line.
  */
 .navbar-fixed-top {
   border: 0;
 }

 /*
  * Sidebar
  */

 /* Hide for mobile, show later */
 .sidebar {
   display: none;
 }
 @media (min-width: 768px) {
   .sidebar {
     position: fixed;
    //  top: 51px; /* original 51px space for top navbar (now removed)*/
     top: 0px;
     bottom: 0;
     left: 0;
     z-index: 1000;
     display: block;
     padding: 20px;
     overflow-x: hidden;
     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
     background-color: #f5f5f5;
     border-right: 1px solid #eee;
   }
 }

 /* Sidebar navigation */
 .nav-sidebar {
   margin-right: -21px; /* 20px padding + 1px border */
  //  margin-bottom: 20px; /* space between each secion in side bar */
   margin-left: -20px;
 }
 .nav-sidebar > li > a {
   padding-right: 20px;
   padding-left: 20px;
 }
 .nav-sidebar > .active > a,
 .nav-sidebar > .active > a:hover,
 .nav-sidebar > .active > a:focus {
   color: #fff;
   background-color: #428bca;
 }


 /*
  * Main content
  */

 .main {
   padding: 20px;
 }
 @media (min-width: 768px) {
   .main {
     padding-right: 40px;
     padding-left: 40px;
   }
 }
 .main .page-header {
   margin-top: 0;
 }
 .hide {
    display: none;
  }

 /*
  * Placeholder dashboard ideas
  */

 .placeholders {
   margin-bottom: 30px;
   text-align: center;
 }
 .placeholders h4 {
   margin-bottom: 0;
 }
 .placeholder {
   margin-bottom: 20px;
 }
 .placeholder img {
   display: inline-block;
   border-radius: 50%;
 }

 .flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }


    /*** basic styles ***/



    /*** custom checkboxes ***/

    input[type=checkbox] .hidden{ display:none;} /* to hide the checkbox itself */
    input[type=checkbox] + label.star:before {
      font-family: 'FontAwesome';
      display: inline-block;
      font-size:2em;
    }

    input[type=checkbox] + label.star:before { content: "\f006"; } /* unchecked icon */

    input[type=checkbox]:checked + label.star:before { content: "\f005"; } /* checked icon */
