
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="<%= active_class(company_companies_path) %>"><%= link_to "Dashboard", company_companies_path %></a></li>
        <li class="<%= active_class(company_posts_path) %>"><%= link_to "My Post", company_posts_path %></li>
        <li><a href="#">Schedule</a></li>
        <li class="<%= active_class(company_company_path(id: current_company.id)) %>"><%= link_to "Company Profile",  company_company_path(id: current_company.id)%></li>
        <li class="<%= active_class(company_completed_path) %>"><%= link_to "Completed Post",  company_completed_path%></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><!-- Link with dropdown items -->
          <a href="#dropdown" data-toggle="collapse" aria-expanded="false">Setting</a>
          <ul class="collapse list-unstyled nav" id="dropdown">
            <li class="<%= active_class(edit_company_registration_path(id: current_company.id)) %>"
               style="padding-left:50px;"><%= link_to "Edit Password",
                edit_company_registration_path(id: current_company.id)%></li>
            <li style="padding-left:50px;"><a href="#">Notification</a></li>
          </ul>
        </li>
        <li><a href="/companies/sign_out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>
