<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="<%= active_class(student_students_path) %>"><%= link_to "DashBoard", student_students_path %></li>
        <li class="<%= active_class(student_posts_path) %>"><%= link_to "Job Hunt", student_posts_path %></li>
        <li class="<%= active_class(student_students_status_path(id: current_student.id)) %>">
          <%= link_to "Job Status", student_students_status_path(id: current_student.id) %></li>
        <li class="<%= active_class(student_students_path(id: current_student.id)) %>">
          <%= link_to "Portfolio", student_student_path(id: current_student.id) %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><!-- Link with dropdown items -->
          <a href="#dropdown" data-toggle="collapse" aria-expanded="false">Setting</a>
          <ul class="collapse list-unstyled nav" id="dropdown">
            <li class="<%= active_class(edit_student_registration_path(id: current_student.id)) %>" style="padding-left:50px;">
              <%= link_to "Edit Password",  edit_student_registration_path(id: current_student.id)%></li>
            <li style="padding-left:50px;"><a href="#">Notification</a></li>
          </ul>
        </li>
        <li><a href="/students/sign_out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>
