<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="<%= active_class(admin_admins_path) %>"><%= link_to "DashBoard", admin_admins_path %></li>
        <li class="<%= active_class(admin_students_path) %>"><%= link_to "Student List", admin_students_path %></li>
        <li class="<%= active_class(admin_companies_path) %>"><%= link_to "Company List", admin_companies_path %></li>
        <li class="<%= active_class(admin_posts_path) %>"><%= link_to "Job Hunt", admin_posts_path %></li>
        <li><!-- Link with dropdown items -->
          <a href="#dropdown" data-toggle="collapse" aria-expanded="false">Setting</a>
          <ul class="collapse list-unstyled nav" id="dropdown">

            <li style="padding-left:50px;"><a href="#">Notification</a></li>
          </ul>
        </li>
        <li><a href="/admins/sign_out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>
