<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="<%= active_class(teacher_teachers_path) %>"><%= link_to "DashBoard", teacher_teachers_path %></li>
        <li class="<%= active_class(teacher_students_path) %>"><%= link_to "Request List", teacher_students_path %></li>
        <li class="<%= active_class(teacher_posts_path) %>"><%= link_to "Job Hunt", teacher_posts_path %></li>
      </ul>
        <ul class="nav nav-sidebar">
          <li><!-- Link with dropdown items -->
            <a href="#dropdown" data-toggle="collapse" aria-expanded="false">Setting</a>
            <ul class="collapse list-unstyled nav" id="dropdown">
              <li class="<%= active_class(edit_teacher_registration_path(id: current_teacher.id)) %>" style="padding-left:50px;">
                <%= link_to "Edit Password",  edit_teacher_registration_path(id: current_teacher.id)%></li>
              <li style="padding-left:50px;"><a href="#">Notification</a></li>
            </ul>


            <ul class="collapse list-unstyled nav" id="dropdown">

              <li style="padding-left:50px;"><a href="#">Notification</a></li>
          </ul>
        </li>
        <li><a href="/teachers/sign_out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>
