<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>BossyProject</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-left:250px">
    <% if student_signed_in? %>
      <%= render 'layouts/navbarStudent' %>
    <% elsif company_signed_in? %>
      <%= render 'layouts/navbarCompany' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/navbarAdmin' %>
    <% elsif teacher_signed_in? %>
      <%= render 'layouts/navbarTeacher' %>
    <% end %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> fade in"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
      <%= yield :javascript_includes %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
