<%= stylesheet_link_tag "signup" %>
<!-- <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %> -->
<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up for Student </h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="email" name="student[email]" id="student_email" class="form-control input-sm" placeholder="Email">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="student[password]" id="student_password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="password" name="student[password_confirmation]" id="student_password_confirmation" class="form-control input-sm" placeholder="password confirmation">
			    			</div>

			    			<!-- <div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
			    					</div>
			    				</div>
			    			</div> -->
                <div class="col-md-6 ">
                  <%= link_to '<button type="button" class="btn btn-block btn-danger">Back</button>'.html_safe, new_student_session_path %>
              </div>
                <div class="col-md-6 ">
			    			<input type="submit" value="Register" class="btn btn-info btn-block">
              </div>
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
      <% end %>
    </div>
<!-- <%= render "students/shared/links" %> -->
